html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    border-radius: 50px;
}

div.chartContainer {
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 100%;
}

#pie {
    alignment: center;
    height: 80%;
    width: 80%;
    margin: 10%;
}

#bar {
    alignment: center;
    height: 80%;
    width: 80%;
    margin: 10%;
}
